In [15]:
import requests
import os
import pandas as pd

tickers = ['ALOS3','ABEV3','ASAI3','AURE3','AXIA3','AXIA6','AXIA7',
'AZZA3','B3SA3','BBSE3','BBDC3','BBDC4','BRAP4','BBAS3','BRKM5','BRAV3',
'BPAC11','CXSE3','CEAB3','CMIG4','COGN3','CSMG3','CPLE3','CSAN3','CPFE3',
'CMIN3','CURY3','CYRE3','CYRE4','DIRR3','EMBJ3','ENGI11','ENEV3','EGIE3',
'EQTL3','FLRY3','GGBR4','GOAU4','HAVP3','HYPE3','IGIT11','IRBR3','ISAE4',
'ITSA4','ITUB4','KLBN11','RENT3','RENT4','LREN3','MGLU3','POMO4','MBRF3',
'BEEF3','MOTV3','MRVE3','MULT3','NATU3','PCAR3','PETR3','PETR4','RECV3',
'PRIO3','PSSA3','RADL3','RAIZ4','RDOR3','RAIL3','SBSP3','SANB11','CSNA3',
'SLCE3','SMFT3','SUZB3','TAEE11','VIVT3','TIMS3','TOTS3','UGPA3','USIM5',
'VALE3','VAMO3','VBBR3','VIVA3','WEGE3','YDUQ3']

token = os.getenv("TOKEN")

assets = []

url_bova = "https://brapi.dev/api/quote/BOVA11"
response_bova = requests.get(
    url_bova,
    headers={"Authorization": f"Bearer {token}"},
    params={"range": "5y", "interval": "1d"}
)
if response_bova.status_code == 200:
    data = response_bova.json()
    bova = pd.DataFrame(data['results'][0]['historicalDataPrice'])

    bova['date'] = pd.to_datetime(bova['date'], unit='s').dt.date
    bova.set_index('date', inplace=True)

else:
    print(f"Erro: {response_bova.status_code}")



for ticker in tickers:
    try:
        url = f"https://brapi.dev/api/quote/{ticker}"
        response = requests.get(
        url,
        headers={"Authorization": f"Bearer {token}"},
        params={"range": "5y", "interval": "1d"}
    )
    except Exception as e:
        print(f'Erro ao processar {ticker}: {e}')
    
    if response.status_code == 200:
        data = response.json()
        #print(data['results'])

        stock = pd.DataFrame(data['results'][0]['historicalDataPrice'])
        stock['date'] = pd.to_datetime(stock['date'], unit='s').dt.date
        stock.set_index('date',inplace=True)

        rs = stock['adjustedClose']/ bova['adjustedClose']
        #assets.append(data['results'][0])
    else:
        print(f"Erro: {response.status_code}")

Erro: 404
Erro: 404

In [ ]:
stock =

             open   high    low  close   volume  adjustedClose
date
2021-02-17  32.24  33.69  32.20  32.85  3107000          29.90
2021-02-18  32.72  33.31  32.54  32.88  2934100          29.93
2021-02-19  32.87  33.05  32.34  32.75  1570600          29.81
2021-02-22  32.01  32.08  31.02  31.58  4431900          28.74
2021-02-23  31.75  32.28  31.21  31.68  2434000          28.83
...           ...    ...    ...    ...      ...            ...
2026-01-26  13.48  13.97  13.30  13.80  4260700          13.80
2026-01-27  14.32  15.29  14.27  14.76  9299900          14.76
2026-01-28  14.82  15.04  14.53  14.68  5920200          14.68
2026-01-29  14.91  14.93  14.19  14.32  5099900          14.32
2026-01-30  14.28  14.67  14.20  14.67  3435400          14.67

[1238 rows x 6 columns]